body{
   text-align: justify;
   background-color: gainsboro;
}

.logo-upv {
   display: block;
}

.header {
   display: flex;
   justify-content: space-between;
   background-color: grey;
   align-items: center;
   padding: 1%;
}

.nav-menu {
   width: fit-content;
   height: fit-content;
   text-align: center;
   display: flex;
}

.nav-menu a{
   border: 1px solid black;
   padding: 10px;
   background-color: gainsboro;
   border-radius: 2px;
}

.nav-menu a:hover{
   background-color: white;
}

footer{
   background-color: gray;
   text-align: center;
   padding: 1px;
}

.home-body{
   padding: 2%;
}