.logo-upv {
   display: block;
}

.header {
   display: flex;
   justify-content: space-between;
   background-color: grey;
   align-items: center;
   padding: 1%;
}

.nav-menu {
   width: fit-content;
   height: fit-content;
   text-align: center;
   display: flex;
}

.nav-menu a{
   border: 1px solid black;
   padding: 10px;
   background-color: gainsboro;
   border-radius: 2px;
}

.nav-menu a:hover{
   background-color: white;
}

footer{
   background-color: gray;
   text-align: center;
   padding: 1%;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   margin: inherit;
}

body{
   text-align: justify;
   background-color: gainsboro;
}

.page-container{
   position: relative;
}

.home-body{
   padding: 2%;
}

.publications-div{
   margin: 2%;
}

.activities-div{
   margin: 2%;
}

.project-div{
   margin: 2%;
   padding: 1%;
   border-radius: 5px;
   border: 1px solid black;
}

.ballad-div{
   padding: 2%;
   text-align: center;
   align-content: center;
}

.ballad-text{
   width: auto;
   display: grid;
   place-content: center;
   text-align: left;
}

.profile-picture{
   border-radius: 50%;
   height: 170px;
}